#boxContact{
    margin-top: 5%;
    width: 50%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
#box2{
    width: 100%;
    height: auto;
    background-color: rgb(61, 61, 61);
    display: flex;
    justify-content: center;
}
#p1:hover{  
    color: antiquewhite;

}
